{% extends "base.html" %}
{% from 'macros.html' import application_control_form with context %}


{% block title %}Puffin | {{ application.name }}{% endblock %}


{% block page %}
	
<div class="application">

    <div class="page-header">
        <h1>{{ application.name }}</h1>
    </div>

    <div class="pull-right"><img class="logo" src="{{ url_for('media', path=application.logo) }}" alt="{{ application.name }}"></div>

    <div>
        <div class="meta">
            <span>
                Version:
                {% if application_image_version: %}
                    {{ application_image_version }}
                {% else %}
                    Unknown
                {% endif %}
            </span>
            &nbsp;
            {% if application_status == ApplicationStatus.CREATED %}
                <span>
                    Running Version:
                    {% if application_version: %}
                        {{ application_version }}
                    {% else %}
                        Unknown
                    {% endif %}
                </span>
                &nbsp;
                <span>
                    Containers:
                    {{ application_container_count }}
                </span>
            {% endif %}
        </div>

        <div class="actions">
            {% if current_user.is_authenticated() %}
                {{ application_control_form(application, form, application_status, application_domain) }}
            {% else %}
                <a href="{{ url_for('security.login', next=request.path) }}">Log In</a> or
                {% if config.SECURITY_REGISTERABLE %}
                    <a href="{{ url_for('security.register', next=request.path) }}">Register</a>
                {% endif %}
                to run application.
            {% endif %}
        </div>

        <hr/>

        {{ application.description | markdown | bclean | blinkify | safe }}

    </div>

</div>

{% endblock %}



