{% extends "base.html" %}
{% from 'macros.html' import application_control_form with context %}


{% block title %}Puffin | {{ application.name }}{% endblock %}


{% block page %}
	
<div class="application">

    <div class="app-logo pull-right"><img class="logo" src="{{ url_for('media', path=application.logo) }}" alt="{{ application.name }}"></div>

    <div class="page-header">
        <h1>{{ application.name }}</h1>
    </div>

    <div>
        <div class="meta">
            <span>
                Version:
                {% if application_image_version: %}
                    {{ application_image_version }}
                {% else %}
                    Unknown
                {% endif %}
            </span>
            &nbsp;
            {% if application_status == ApplicationStatus.CREATED %}
                <span>
                    Running Version:
                    {% if application_version: %}
                        {{ application_version }}
                    {% else %}
                        Unknown
                    {% endif %}
                </span>
                &nbsp;
                <span>
                    Containers:
                    {{ application_container_count }}
                </span>
            {% endif %}
        </div>

        <div class="actions">
            {% if current_user.is_authenticated() %}
                {{ application_control_form(application, form, application_status, application_domain) }}
            {% else %}
                <a href="{{ url_for('security.login', next=request.path) }}">Log In</a> or
                {% if config.SECURITY_REGISTERABLE %}
                    <a href="{{ url_for('security.register', next=request.path) }}">Register</a>
                {% endif %}
                to run application.
            {% endif %}
        </div>

        <hr/>

        <div class="info-panel panel panel-default">
            <div class="panel-heading">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#readme">Readme</a></li>
                    {% if current_user.is_authenticated() and application_container_count %}
                    <li><a data-toggle="tab" href="#containers">Containers</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="readme">
                        {{ application.description | markdown | bclean | blinkify | safe }}
                    </div>
                    {% if current_user.is_authenticated() %}
                        <div role="tabpanel" class="tab-pane" id="containers">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col-3">Name</th>
                                    <th scope="col-3">Status</th>
                                    <th scope="col-2"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for container in application_containers %}
                                <tr>
                                    <th scope="row">{{ container.name }}</th>
                                    <td>{{ container.status }}</td>
                                    <td>Logs</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}



